.cardImage {
    height:200px
}

.card {
    width: 16em;
    height:28em;
    display: flex;
    justify-content: center;
    
}

.cardHeader {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    text-align: center;
}

.cardTitleh5{
    text-align: center;
    color: white;
    
}

.cardImage {
    border: 2px solid black;
}

.divCont{
    justify-content: space-between;
}

.genres {
    color: white;
    font-size: .8em;
}

Media {
    height: 100px;
    width: 100px;
}

.platforms {
    color:white;
       font-size: .62em;
     margin-bottom: 3em;
}

body {
    background-color: #292929;
}

.searchLabel {
    color: #03DAC5;
    text-align: center;
    font-size: 2.5em;
}

.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

